<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>It is working</h1>
  <% books.forEach(function(book){ %>
  <td> <%= book.name %> </td>
  <td> <%= book.author %> </td>
  <td> <%= book.img %> </td>
  <% }); %>
</body>
</html>