<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Individual Books</title>
</head>
<body>
  <h1>Individual books</h1>
  <td> <%= books.name %> </td>
  <td> <%= books.name %></td>
  <td> <%= books.img %></td>
</body>
</html>