<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Books</title>
</head>
<body>
  <h1>New Books.Woot Woot!!!</h1>
  <form action="/books">
    <p>
      <label for="name">Name:</label>
      <input type="text">
    </p>
    <p>
      
    </p>
    <p>
      
    </p>
  </form>
</body>
</html>